/* General */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

nav,
main,
footer {
  width: 80%;
  margin: 0 auto;
}


a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

img {
  width: 100%;
}

h1 {
  color: teal;
  text-align: center;
  margin: 60px;
  font-size: 2.3rem;
  font-weight: 400;
}

.display-none {
  display: none;
}

/* Navegacion */

header {
  color: teal;
  background-color: beige;
  position: sticky;
  top: 0;
}

.barra-de-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  text-transform: uppercase;
}

.menu {
  display: flex;
  gap: 70px;
  font-size: 1.3rem;
  list-style: none;
}

.menu li:hover {
  border-bottom: 2px solid teal;
  margin-bottom: -2px;
}

/* Main */

.contenedor-productos {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.producto {
  width: 20%;
  margin-bottom: 30px;
  border: 1px dashed yellowgreen;
  border-radius: 10px;
  text-align: center;
}

.producto img {
  border-radius: 10px;
}

.producto a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.nombre-del-producto {
  font-size: 1.2rem;
  font-weight: 500;
}

.precio-base {
  text-decoration: line-through;
  color: grey;
}

.descuento {
  text-decoration: none;
  background-color: greenyellow;
  border-radius: 20px;
  padding: 7px;
}

.precio-final {
  font-weight: 500;
  font-size: 1.4rem;
}

/* Sobre nosotros*/

.sobre-nosotros {
  font-size: 1.2rem;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

/* Footer */

footer {
  border-top: 1px solid;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.redes-sociales {
  display: flex;
  gap: 50px;
}

i {
  color: teal;
}

.fa-brands:hover {
  color: yellowgreen;
}